.product-page{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1440px;
    margin: 0 auto;
}

.product-images {
    height: 320px;
    padding-bottom: 2rem;
}


@media screen and (min-width: 740px){
    .product-page{
        grid-template-columns: 1fr 1fr;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
    }
}