.header{
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 40px;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.navbar-logo{
    font-size: 2rem;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}

.user-avatar img{
    display: block;
    max-height: 100%;
    height: 1.8rem;
}

.navbar-logo{
    padding-left: 1rem;
}