
.navbar-container{
    display: flex;
    align-items: baseline;
}
.navbar-container a{
    display: flex;
    align-content: center;
}
.navbar-container{
    flex-grow: 1;
    flex-shrink: 0;
}
.navbar-container_btn img{
    height: 100%;
}
.navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0;
}
.navbar ul{
    display: flex;
}



.navbar-logo{
    padding-left: 1rem;
}

.navbar-nav-mobile{
    position: fixed;
    height: 100vh;
    z-index: 1;
    left: 0;
    background-color: hsl(var(--clr-white));
    display: flex;
    flex-direction: column;
    min-width: 250px;

}
.navbar-nav-mobile{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
}

.navbar-nav-mobile_item{
    padding-left: 1rem;
}
.navbar_close-btn{
    margin-bottom: 4rem;
}


