li{
    list-style: none;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  ul,body{
    margin: 0;
    padding: 0;
  }