:root{
    /* Colors */
    /* -- Primary*/
    --clr-orange: 26, 100%, 50%;
    --clr-pale-orange: 25, 100%, 94%;
    /* -- Neutral */
    --clr-blue-dark: 220, 13%, 13%;
    --clr-grayish-blue-dark: 219, 9%, 45%;
    --clr-grayish-blue: 220, 14%, 75%;
    --clr-grayish-blue-light: 223, 64%, 98%;
    --clr-white: 0, 0%, 100%;
    --clr-black: 0, 0%, 0%;
    --clr-black-lightbox: hsl(var(--clr-black) / .75);
}

